@font-face {
    font-family: 'Lobster-Regular';
    src: url('font/Lobster-Regular.eot');
    src: url('font/Lobster-Regular.eot?#iefix') format('embedded-opentype'),
         url('font/Lobster-Regular.svg#Lobster-Regular') format('svg'),
         url('font/Lobster-Regular.woff') format('woff'),
         url('font/Lobster-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    


#container{
    position: relative;
    background-size: contain;
    background-position: center;
    margin:auto;
    width: 900px;
    height: 2100px;
    background-color: rgb(151, 148, 148);
}


.logo{
    margin-left: 15px;
    margin-top: 35px;
    width:150px;
    height: 80px;
}

.navbar{
    position: fixed;
    margin-top: -110px;
    background-color: black;
    width: 900px;
    height: 155px;  
}
.title-position{
    position: absolute;
    color: firebrick;
    margin-top: 500px;
    margin-left: 700px;
    text-align: center;
    font-family: 'Lobster-Regular';
    
}



.img-centrale {
    margin-top: 50px;
    width: 900px;
    height: 500px;

}

li{
    display: inline;
}

.menu{
    margin-top: -40px;
    margin-left: 250px;
}

li a{
    font-family: 'Lobster-Regular';
    margin: 10px;
    color: white;
    text-align: center;
    word-spacing: 5px;
    font-size: 20px;
    margin-right:10px ;
    text-decoration: none;
    
}

a:hover{ 
    color: tomato;
}

.nav--bar{
    margin-top: 115px;
    background-color: black;
    width: 900px;
    height: 100px;
}  

.nav-down{
    margin-left: 15px;
    margin-top: 10px;
    width:150px;
    height: 80px;
}

.menu-down{
    margin-top: -50px;
    margin-left: 250px;
}

.biography{
    font-family: 'Lobster-Regular';
    margin-top: 50px;
    margin-left: 420px;
    margin-right: 20px;
    text-align: justify;
}

.img-biography{
    top: 20px;
    margin-left: 10px;
}

.click{
    margin-left: 600px;

}

.one-click{
    margin-left: 250px;
    margin-top: 10px;
}

.two-click{
    margin-left: 250px;
    margin-top: 55px;
}

.discography{
    font-family: 'Lobster-Regular';
    margin-left: 55px;
    margin-right: 400px;
    text-align: justify;
    margin-top: 50px;
    }

.img-discography{
    margin-top: 10px;
   margin-right: 20px;
}

.curiosity{
    font-family: 'Lobster-Regular';
    margin-right: 30px;
    margin-left: 435px;
    margin-top: 100px;
    text-align: justify;
}
.img-curiosity{
    margin-left: 10px;
    margin-top: 10px;
}


.title-discography{
    margin-left: 155px;
    margin-bottom: 3px;
    margin-top: 80px;
    font-family:'Lobster-Regular' ;
    color: black
}

.title-bio{
    margin-top: 50px;
    margin-left: 580px;
    font-family:'Lobster-Regular' ;
    color: black

}


.title-curiosity{
    margin-top: 200px;
    margin-bottom: -30px;
    margin-left: 580px;
    font-family:'Lobster-Regular' ;
    color: black

}